#maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

#eclipse (STS)
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

#intellij
.idea/
*.iws
*.iml
*.ipr

#netbeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

#vscode
.vscode/