target/
debug/*
!debug/README.md
.vagrant/
localdev/*/ssh_config
.ssh/

### VSCode ###
.vscode/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

### NodeJS ###
node_modules/
bundle/