<!doctype html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/mvc" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>AffableBean Spring Admin</title>

    <link rel="stylesheet" type="text/css" th:href="@{/admin/bundle/vendor.bundle.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/admin/css/affablebean.css}"/>
</head>
<body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
        <a class="navbar-brand col-md-2 mr-0" th:href="@{/}">AffableBean</a>
        <input class="form-control form-control-dark w-100" type="text" placeholder="Search"/>
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class="nav-link" href="#">Sign out</a>
            </li>
        </ul>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" th:classappend="${currentPage == 'category' ? 'active' : ''}" th:href="@{/admin/category}">Category</a>
                        </li>
                    </ul>
                </div>
            </nav>

            <main role="main" class="col-md-9 col-lg-10 ml-sm-auto pt-3 px-4">
                <div id="wrap"></div>
            </main>
        </div>
    </div>

    <script type="text/javascript" th:src="@{/admin/bundle/vendor.bundle.js}"></script>
    <script type="text/javascript" th:src="@{/admin/bundle/{index}(index=${currentPage + '.bundle.js'})}"></script>
</body>
</html>