<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/mvc" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">Category</title>
    <link rel="stylesheet" type="text/css" th:href="@{/bundle/vendor.bundle.css}"/>
</head>
<body>
    <div id="container"></div>

    <script type="text/javascript" th:src="@{/bundle/vendor.bundle.js}"></script>
    <script type="text/javascript" th:src="@{/bundle/${#strings.toLowerCase(title)}.bundle.js}"></script>
</body>
</html>