<!doctype html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/mvc" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>AffableBean Spring</title>

    <link rel="stylesheet" type="text/css" th:href="@{/ui/bundle/vendor.bundle.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/ui/css/affablebean.css}"/>
</head>
<body>
    <div id="wrap"></div>

    <div class="container">
        <hr/>
        <p class="text-muted credit">&copy; Developed by <a href="https://github.com/sunshine55?tab=repositories">sunshine55</a></p>
    </div>

    <script type="text/javascript" th:src="@{/ui/bundle/vendor.bundle.js}"></script>
    <script type="text/javascript" th:src   ="@{/ui/bundle/index.bundle.js}"></script>
</body>
</html>